@font-face {
    font-family: quicksand;
    src: url("../style/Quicksand_Bold.otf");
}

@font-face {
    font-family: walkway;
    src: url("../style/Walkway\ Bold.ttf");
}

body{
    background-image: url("../images/mcea3.png");

}

.tit{
    background-color: rgba(236, 167, 144, 0.246);
    margin-top: 150px;
}

.titu{
    font-size: 6em;
    text-align: center;
    font-family: quicksand;
}

.cat{
    border-radius: 25%;
    background: rgba(254, 176, 51, 0.341);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
      
    }
    
    .cat a {

        font-family: walkway;
        font-size: 15px;
        color: rgb(198, 13, 13);
        margin: 5px;
        padding: 5px;
        text-decoration: none;
    
    
    }
    .cat a:hover{
        color: rgb(4, 130, 255);
        text-decoration: wavy;
        background-color: rgba(255, 26, 10, 0.791);
        border-radius: 20px;
    }

.cat{
    margin-top: 50px;
    justify-content: center;
}

.emb{
    background-color: rgba(247, 247, 168, 0.711);
    font-family: walkway;
}

.acs{
    background-color: rgba(247, 247, 168, 0.711);
    font-family: walkway;

}

.ets{
    background-color: rgba(247, 247, 168, 0.711);
    font-family: walkway;
    
}

.prof{
    background-color: rgb(255, 255, 255);
    font-family: walkway;
    justify-content: center;
   font-size: 1em;
}